<section class="container w-50">
    <div class="row text-center">
        <h1>Bienvenido/a a "La tienda de Lilo"</h1>
        <p>Gracias por su preferencia</p>
    </div>
    <form method="post" class="row justify-content-center align-content-center border border-dark rounded mb-3 p-3">
        <div class="py-1">
            <label for="correo" class="form-label">Correo:</label>
            <input type="text" id="correo" name="correo" class="form-control" />
        </div>

        <div class="py-1">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" id="password" name="passw" class="form-control" />
        </div>

        <div class="w-100 py-3">
            <button type="submit" class="btn btn-color w-100">Iniciar Sesión</button>
        </div>
    </form>
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger py-3">
            <p>@ViewData["Error"]</p>
        </div>
    }
</section>
